{{ 'card-gradiproduct.css' | asset_url | stylesheet_tag }}

<script src="{{ 'card-gradiproducts.js' | asset_url }}" defer="defer"></script>

<div class="page-width">


  <section class="product-slider">
    <div class="slider__container">
      <img src="{{ 'left-arrow.svg' | asset_img_url}}"></img>
      <ul id="PSlider-{{ section.id }}" class="grid product-grid contains-card contains-card--product grid--4-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% endif %}" role="list" aria-label="{{ 'general.slider.name' | t }}">
        {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
          <li id="PSlide-{{ section.id }}-{{ forloop.index }}" class="grid__item">
            <p>{{product.metafields.custom.titulo.value}}</p>
            <p>{{product.metafields.custom.descripcion.value}}</p>
            <img src="{{product.metafields.custom.imagen.value | img_url: '500x500' }}"/>
            
          </li>
        {%- endfor -%}
      </ul>
    </div> 
  </section>
</div>

{% schema %}
{
  "name": "Configuraciones Slider",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}