{{ 'card-gradiproduct.css' | asset_url | stylesheet_tag }}

<script src="{{ 'card-gradiproducts.js' | asset_url }}" defer="defer"></script>

<div class="page-width">

  

  {% comment %} <slider-component class="slider-mobile-gutter">
    <ul id="Slider-{{ section.id }}" class="grid product-grid contains-card contains-card--product grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% endif %}" role="list" aria-label="{{ 'general.slider.name' | t }}">
      {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
        <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item">
          
        </li>
      {%- endfor -%}
    </ul>
  </slider-component> {% endcomment %}
</div>

{% schema %}
{
  "name": "Configuraciones Slider",
  "tag": "section",
  "class": "section",
  "settings": [
    
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}